body {
    background-color: #b6bac7;
    font-family: monospace;
    font-size: 1.2em;
}
#slate {
    border: 30px solid #0041fa;
    border-bottom: 50px solid #0041fa;
    border-radius: 10px;
    width: 640px;
    height: 640px;
    display: grid;
    background-color: white;
}

#clear {
    border-radius: 5px;
    background-color: #d01f10;
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 1em;
    color: #1a2023;
    z-index: 2;
    transform: translateY(-44px);
    margin-left: 590px;
}
a {
    text-decoration: none;
    color: #1a2023;
    font-size: 1.4em;
}